# Nuxt dev/build outputs
.output
.data
.nuxt
.next
.nitro
.cache
dist

apps/next-app/.next
.turbo
node_modules
dist
.output
.nuxt
.cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
