
  
  .DragHandleEdge {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: 12px;
    border-top: 2px solid transparent;
    transition: border-top 0.2s ease;
    cursor: row-resize;
  }

  .DragHandleEdge:hover .DragHandle {
    background: #b3b3b3;
  }
  
  .DragHandleEdge:active .DragHandle {
    background: #b3b3b3;
  } 

  
  .DragHandle {
    width: 40px;
    height: 3px;
    background: #e0e0e0;
    border-radius: 25px;
    margin-top: 5px;
  } 
     