@tailwind base;
@tailwind components;
@tailwind utilities;

 
body {
    background-color: #fff;
}

/* bottom sheet */
@media (min-width: 600px) {
    :root {
        --rsbs-max-w: 28%;
        --rsbs-ml: auto;
        --rsbs-mr: auto;
    }

    .detail-navbar {
        max-width: 28%;
    }
}

@media (max-width: 1022px) {
    :root {
        --rsbs-max-w: 100%;
        --rsbs-ml: auto;
        --rsbs-mr: auto;
    }

    .detail-navbar {
        max-width: 100%;
    }
}

.bottom-sheet-shadow {
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.15);
}

@layer layout {
    .default-layout {
        @apply min-h-screen max-w-md mx-auto flex flex-col;
    }
}

/* reusable tailwind classes */
@layer components {
    .badge {
        @apply bg-white text-gray-800 border border-gray-100 rounded-full text-xs font-medium px-1.5 pr-2 py-1;
    }
    .badge-icon {
        @apply flex items-center;
    }
    .button {
        @apply text-gray-900 bg-white border border-gray-100 sm:px-1 sm:py-1 focus:outline-none hover:bg-gray-50 focus:ring-0 font-medium rounded-lg text-sm px-4 py-2.5;
    }
    .button-icon-default {
        @apply w-auto grow-0 bg-gray-50 text-gray-800 text-xs font-medium inline-flex items-center px-3 py-1 rounded-full border border-gray-100;
    }
    .success {
        @apply bg-green-50 border border-green-100 text-green-700 !important;
    }
    .blue {
        @apply bg-blue-50 border border-blue-100 text-blue-700 !important;
    }
    .warning {
        @apply bg-orange-50 border border-orange-100 text-orange-700 !important;
    }
    .modal {
        @apply fixed z-20 bg-black bg-opacity-20 w-full h-screen backdrop-blur-sm flex items-center justify-center;
    }

    /* buttons */ 
    .btn-base {
        @apply text-sm font-medium rounded-lg px-5 py-2.5 me-2 mb-2 focus:outline-none hover:bg-neutral-100;
    }
    .btn-whatsapp {
        @apply btn-base flex items-center w-full justify-center bg-green-600 text-white transition hover:bg-green-700
    }
    .btn-call {
        @apply btn-base flex  w-full items-center justify-center bg-white border border-gray-300 text-neutral-600 hover:bg-gray-50 transition 
    }
    
    .btn-blue {
        @apply btn-base text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    }
    
    .btn-alternative {
        @apply btn-base text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700;
    }
    
    .btn-dark {
        @apply btn-base text-white bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:ring-gray-300 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700;
    }
    
    .btn-light {
        @apply btn-base text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700;
    }
    
    .btn-green {
        @apply btn-base text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
    }
    
    .btn-red {
        @apply btn-base text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
    }
    
    .btn-yellow {
        @apply btn-base text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 dark:focus:ring-yellow-900;
    }
    
    .btn-purple {
        @apply btn-base text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900;
    }
  
}

/* maps */
.marker {
    background-image: url('../public/assets/icons/current-location-blue.svg');
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.debounce-effect {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 0.3s; /* Delayed effect */    
}
  
@keyframes fadeIn {
to {
    opacity: 1;
}
}

.ambulance-marker {
    background-image: url('../public/assets/icons/ambulance-logo.svg');
    background-color: #1e1e1e;
    color: black;
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-size: 12px 12px;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.fire-fighter-marker {
    background-image: url('../public/assets/icons/fire-fighter-logo.svg');
    background-color: #ef4444;
    color: white;
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-size: 12px 12px;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.hospital-marker {
    background-image: url('../public/assets/icons/hospital-logo.svg');
    background-color: #8b5cf6;
    color: white;
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-size: 12px 12px;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.sar-marker {
    background-image: url('../public/assets/icons/sar-logo.svg');
    background-color: #f97316;
    color: white;
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-size: 12px 12px;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
} 

.mapboxgl-popup {
    margin-top: 5px !important;
}

.mapboxgl-popup-content {
    background: white !important; /* Make background transparent */
    color: black !important; /* Ensure text is visible */
    box-shadow: none !important; /* Remove shadow */
    border: none !important; /* Remove any default borders */
    padding: 0px !important;
    margin: none !important;
    margin-top: 20px !important;
    border-radius: 12px !important;
}
.mapboxgl-popup-tip {
    border-top-color: white !important; /* Change arrow color */
}
.mapboxgl-popup-close-button {
    margin: 10px !important;
}


/* .mapboxgl-ctrl-top-right {
    display: none;
} */

.mapboxgl-ctrl {
    display: none !important;
}

.mapboxgl-ctrl-top-right {
    width: 100% !important;
    padding: 10px 10px;
}

.mapboxgl-ctrl-geocoder {
    margin: 0px !important;
}

.mapboxgl-ctrl-geocoder--input {
    background-color: white !important;
    border-radius: 10px !important;
    width: 100% !important;
    height: 40px !important;
    font-size: 17px !important;
    margin: 0px !important;
}
.mapboxgl-ctrl-geocoder--icon-search {
    margin-top: -3px !important;
}
.mapboxgl-ctrl-geocoder--button {
    margin-top: -3px !important;
}

.mapboxgl-ctrl-geocoder {
    display: none !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #e0e0e0 #ffffff;
}

/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 10px;
    border: 3px solid #ffffff;
} */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px none #ffffff;
}
